body{
	margin: 0;
}
.conteiner{
	max-width:1200px;
	padding-left: 20px;
	padding-right: 20px;
	margin: 0 auto;
}
.header .conteiner{
	display:flex;
	align-items:center;
}
.header{
	background-color: #eee;
}
.menu{
	display:flex;
	
}
ul,ol{
	list-style:none;
	padding:0;
	margin:0;
		
}
h1, h2, h3, h4, h5, h6{
	margin: 0;
}
.logo{
	margin-right: 190px;
}
.menu-item a{
	font-size: 16px;
	text-transform: uppercase;
	color:#000;
	text-decoration: none;
	
}
.menu-item{
	margin: 0 23px;
}
.menu-cart{
	margin-left: auto;
	margin-right:0;
}
#main-nav{
-webkit-flex-grow: 1;
        flex-grow: 1;
}
.hero{
	background-color:#eee;
	
}
.hero-title{
	font-size:55px;
	line-height: 1;
	margin-bottom: 18px ;
}
.hero-text > p {
	font-size:16px;
	margin-bottom: 40px;
	max-width: 370px;
}
.hero-text p + .btn{
	display: inline-block;
	height: 50px;
	padding: 0 50px;
	line-height: 50px;
	background-color: #fb565a;
	color:#fff;
	text-decoration: none;
	font-size: 16px;
	text-transform: uppercase;
}
.hero .conteiner{
	display: flex;
	justify-content: space-between;
}
.hero-text{
 align-self: center;
}
.expertize-item{
	display:inline-block;
	margin-top:81px;
	margin-right: 95px;	
}

.visually-hiden{
	display:none;	
}
.expertize-item-desc{
	max-width: 200px;
	font-size: 16px;
	margin-bottom: 40px;
}
.expertize-item-title{
	margin-top:32px;
	margin-bottom: 26px;
	font-size:24px;
	font-weight: bold;
	
}
.expertize-item:first-child{
	margin-right: 100px;	
}
	
.expertize-item:last-child{
	margin-left: 100px;
}
.expertize-item-btn-1{
	border: 1px solid;
	width: 160px;
	height: 52px;
	border-radius: 7px;
	font-size: 15px;
	color: #FFF;
	text-transform: uppercase;
	background-color: #fb565a;
	
}
.expertize-item-btn-2{
	border: 1px solid;
	width: 160px;
	height: 52px;
	border-radius: 7px;
	font-size: 15px;
	color: #FFF;
	text-transform: uppercase;
	background-color: #00ca74;
}
.expertize-item-btn-3{
	border: 1px solid;
	width: 160px;
	height: 52px;
	border-radius: 7px;
	font-size: 15px;
	color: #FFF;
	text-transform: uppercase;
	background-color: #efc84a;
}	
hr{
	color:#eeeeee;
}	
.line{
	margin-top:84px;
	margin-bottom: 82px;
	color: #eeeeee;
	
}

.info-work{
	display: block;  
	max-width: 655px; 
}
.conteiner .first-row{
	display:flex;
	-webkit-justify-content: space-between;
	        justify-content: space-between;
}
.conteiner .second-row{
display:flex;
	-webkit-justify-content: space-between;
	        justify-content: space-between;	
	    margin-bottom: 80px;
}
.work{
	font-size:45px;
	margin-bottom: 40px;
}
.page{
	font-size:18px;
}
.first-row{
	margin-top:84px;
	margin-bottom: 52px;
}
h3{
	font-size: 20px;
	margin-bottom: 40px;
}
p{
	font-size: 16px;
}

.order-list li{
	padding:auto;
	margin:auto;
}


li>p:before{
	content:url("img/Layer 23.png");
	color:#fb565a;
	margin: 0 20px;
	padding:0px;	
}
th{
	font-size:35px;
	padding-left:30px;
}
td{
	max-width: 75px;
	font-size:16px;
	padding-left:30px;
}
 .logos{
	display:flex;
	-webkit-justify-content: space-between;
	        justify-content: space-between;
}
	   
.logo-3{

	height: 55px;
}
.logos img{
	width:200px;
	max-height: 80px;
	 padding-left:50px;
	 padding-right: 50px;
	 margin-top:50px;
	 margin-bottom: 55px;
	 opacity: 0.2;
}
.logos img:hover{
	opacity:1;	
}

[class^="logo"]:nth-child(even):before{
  content:"";	
  position: absolute;
  margin-top: 66px;
  margin-right:49px;
  height: 50px;
  width: 1px;
  border: 1px solid grey;
  background-color: grey;
  opacity: 0.2;
  
}
[class^="logo"]:nth-child(3):before{
  content:"";
   position: absolute;
  margin-top: 66px;
    height: 50px;
  width: 1px;
  border: 1px solid grey;
  background-color: grey;
  opacity: 0.2;
 }

.logos{
 	margin-bottom: 50px;
    border-bottom: 2px solid #ededed;
    
 }
 .footer {
 	display: flex;
 	padding:70 0 70 0px;
 }
 .soc{
 	display:flex;
 	-webkit-justify-content: space-between;
 	        justify-content: space-between;
 	    
 }
.social ul li a{
	display:flex;
	-webkit-justify-content: center;
	        justify-content: center;
	    -webkit-align-items: center;
	            align-items: center;
	background-color: #e1e1e1;
	width: 80px;
	height: 80px;
	-webkit-border-radius: 50%;
	        border-radius: 50%;
	margin-right: 15px;
	border:solid 1px #e1e1e1;
}
.footer-info{
	padding-left: 141px;
}
.footer-info h2{
	font-size: 35px;
	font-weight: bold;
}
.footer-info p {
	font-size:18px;
}
.map img{
	width: 100%;
	height: 100%;
	display: block;
	
}
footer{
	padding: 70px;
}
.map{
	position: relative;
}

.adress{
	position: absolute;
	top:50%;
	background-color:#fff;
	transform: translateY(-50%);
	padding:50px;
	color:#666;	
	width: 320px;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
.adress-title{
	font-size: 18px;
	margin-bottom: 28px;
}
address{
	font-style: normal;
	
}
.address-btn{
	background-color:#fb565a;
	-webkit-border-radius: 4px;
	        border-radius: 4px;
	    width: 100%;
	    display: inline-block;
	    height: 50px;
	    line-height: 50px;
	    text-decoration: none;
	    text-transform: uppercase;
	    color:#fff;
	    text-align: center;

}
.adress p{
	margin-bottom: 30px;
}
.map-marker{
	position: absolute;
	top:100px;
	
	transform: translateY(100%);
	transform:translateX(200%);
	padding:50px;
	color:#666;	
	width: 320px;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
/*STYLE FOR MOBILE PHONE*/
@media screen and (max-width:640px){

	*{
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
	}
	
	.expertize .conteiner {
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}

	.conteiner{
		-webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		        flex-wrap: wrap;
	    width: 100%;
	    
	}
	.hero-image {
    display: none;
    }
    .adress{
    	position: static;
    	-webkit-transform: none;
    	   -moz-transform: none;
    	    -ms-transform: none;
    	     -o-transform: none;
    	        transform: none;
    	width: 100%;
    	
    }
    .map{
    	display: flex;
    	-webkit-flex-direction: column-reverse;
    	    -ms-flex-direction: column-reverse;
    	        flex-direction: column-reverse;
    	    position: relative;
    	
    }
    .map img{
    	object-fit:cover;
    }
    .logos{
    	width: 100%;
    	-webkit-flex-wrap: wrap;
    	    -ms-flex-wrap: wrap;
    	        flex-wrap: wrap;
    
    }
    .first-row{
    	-webkit-flex-wrap: wrap;
    	    -ms-flex-wrap: wrap;
    	        flex-wrap: wrap;
    }
    .second-row{
    	-webkit-flex-wrap: wrap;
    	    -ms-flex-wrap: wrap;
    	        flex-wrap: wrap;
    }
    .footer{
    	-webkit-flex-wrap: wrap;
    	    -ms-flex-wrap: wrap;
    	        flex-wrap: wrap;
    }
    .map-marker{
    	display: none;
    }
    .footer-info{
    	width: 100%;
    	text-align: center;
    }
    .hero{
    	padding: 2em 0;
    }
    .expertize-item img{
    	width: 100%;
    	height: auto;
    }
    /*style for mobile menu*/
    .menu-btn{
    	display: flex;
    	-webkit-flex-direction: column;
    	    -ms-flex-direction: column;
    	        flex-direction: column;
    	-webkit-justify-content: space-between;
    	        justify-content: space-between;
    	width: 30px;
    	height: 30px;
    }
    .menu-btn__line{
    	height: 2px;
    	width: 100%;
    	background-color: #444;
    	
    }
    .header .conteiner{
    	-webkit-flex-wrap: nowrap;
    	    -ms-flex-wrap: nowrap;
    	        flex-wrap: nowrap;
    }

    .logo{
    	margin-right: auto;
    }
    #main-nav{
    	-webkit-flex-grow: 0;
    	        flex-grow: 0;
    }
    .hero-title{
    	font-size: 30px;
    }
    .footer-info{
    	padding: 0;
    }
    .info-work-wraper img{
    	width: 100%;
    }
    th{
    	font-size: 20px;
    }
    td{font-size: 11px;
    }
    .work{
    	font-size: 24px;
    }
    .menu{
    	position: fixed;
    	top: 0;
    	left: 0;
    	-webkit-transform: translateX(-100%);
    	   -moz-transform: translateX(-100%);
    	    -ms-transform: translateX(-100%);
    	     -o-transform: translateX(-100%);
    	        transform: translateX(-100%);
    	height: 100vh;
    	width: calc(100vw - 55px);
    	background-color: rgba(0, 0, 0, .8);
    	border: 2px solid #fb565a;
    	-webkit-flex-direction: column;
    	    -ms-flex-direction: column;
    	        flex-direction: column;
    	-webkit-align-items: center;
    	        align-items: center;
    	-webkit-justify-content: center;
    	        justify-content: center;
    }
    :checked ~ .menu {
    	-webkit-transform: translateX(0);		
    	   -moz-transform: translateX(0);		
    	    -ms-transform: translateX(0);		
    	     -o-transform: translateX(0);		
    	        transform: translateX(0);
        -webkit-transition: transform .57s;
        		   -moz-transition: transform .57s;
        		    -ms-transition: transform .57s;
        		     -o-transition: transform .57s;
        		        transition: transform .57s;		
    }
    .menu-item a{
    	color: #FFF;
    }
   
    .social ul li a  {
    	width: 30px;
    	height: 30px;
    }
    [class^="logo"]:nth-child(3):before{
    	display: none;
    }
    [class^="logo"]:nth-child(even):before{
    	display: none;
    }
    .menu-item{
    	opacity: 0;
    	-webkit-transform: translateY(-0.5em) scale(1.1);
    	   -moz-transform: translateY(-0.5em) scale(1.1);
    	    -ms-transform: translateY(-0.5em) scale(1.1);
    	     -o-transform: translateY(-0.5em) scale(1.1);
    	        transform: translateY(-0.5em) scale(1.1);
    	-webkit-transition: transform .94s, opacity .84s ;
    	   -moz-transition: transform .94s, opacity .84s ;
    	    -ms-transition: transform .94s, opacity .84s ;
    	     -o-transition: transform .94s, opacity .84s ;
    	        transition: transform .94s, opacity .84s ;
    	    -webkit-transition-delay: .6s;
    	       -moz-transition-delay: .6s;
    	        -ms-transition-delay: .6s;
    	         -o-transition-delay: .6s;
    	            transition-delay: .6s;
    	margin: 0 0 1em 0;
    }
    :checked ~ .menu .menu-item{
    	-webkit-transform: none;
    	   -moz-transform: none;
    	    -ms-transform: none;
    	     -o-transform: none;
    	        transform: none;
        opacity: 1;
    	
    }
    .menu-item:nth-child(2){
    	-webkit-transition-delay: .7s;
    	   -moz-transition-delay: .7s;
    	    -ms-transition-delay: .7s;
    	     -o-transition-delay: .7s;
    	        transition-delay: .7s;
    }
     .menu-item:nth-child(3){
    	-webkit-transition-delay: .8s;
    	   -moz-transition-delay: .8s;
    	    -ms-transition-delay: .8s;
    	     -o-transition-delay: .8s;
    	        transition-delay: .8s;
    }
     .menu-item:nth-child(4){
    	-webkit-transition-delay: .9s;
    	   -moz-transition-delay: .9s;
    	    -ms-transition-delay: .9s;
    	     -o-transition-delay: .9s;
    	        transition-delay: .9s;
    }
     .menu-item:nth-child(5){
    	-webkit-transition-delay: 1s;
    	   -moz-transition-delay: 1s;
    	    -ms-transition-delay: 1s;
    	     -o-transition-delay: 1s;
    	        transition-delay: 1s;
    }
}  